@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

:root {
    --line-border-fill: #3190de;
    --line-border-empty: #383838;
    --dark-color: #1c2833;
    --light-gray-color: #dddddd;
    --white-color: #ffffff;
    --danger: #dc3545;
    --success: #198754;
}

.float-right {
    float: right;
}


.progress_container {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    position: relative;
}

.progress_container::before {
    content: '';
    background-color: var(--light-gray-color);
    position: absolute;
    top: 50%;
    left: -1;
    transform: translateY(-50%);
    height: 4px;
    width: 94%;
    z-index: 1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 1;
    transition: 0.4s ease-in;
}

.circle {
    background-color: var(--light-gray-color);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s ease-in;
}

.circle.active-circle {
    border-color: var(--line-border-empty);
    color: var(--white-color);
    background-color: var(--line-border-fill);
}

form {
    border: 2px solid #818181;
    font-family: Montserrat-SemiBold;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

input.invalid {
    background-color: #ffdddd;
}

.error input {
    border-color: var(--danger);
    border-width: 2px;
}

.success input {
    border-color: var(--success);
    border-width: 2px;
}

.error span {
    color: var(--danger);
}

span.error {
    color: var(--danger);
}

#stepBtns button:nth-of-type(2) {
    display: none;
}

